name: "coverage"
on:
    pull_request:
        branches:
            - main
            - dev
            - Jest
jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./server
        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies for test
              run: |
                  npm install cross-fetch
                  npm install
            - name: Test
              run: npm test -- --coverage